.auction-grid {
    --line-height: 1.4em;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(2, var(--line-height)) calc(6 * var(--line-height)) repeat(6, var(--line-height));
    border: 5px double black;
}

.grid-name {
    grid-column: 1;
    padding-left: 5px;
    border-bottom: 1px solid black;
}

.grid-name:nth-last-child(2), .grid-value:nth-last-child(1) {
    border: 0;
}

.grid-value {
    grid-column: 2;
    border-bottom: 1px solid black;
}