.grid {
    display: grid;
    grid-template-columns: 100px 300px;
}

.grid-name {
    grid-column: 1;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.grid-value {
    grid-column: 2;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
}

#starting_price {
    width: 50%;
}