* {
    box-sizing: border-box;
    --body-background: #363636;
    --top-background: #C09F80;
    --bottom-background: #D7CEC0;
}

html {
    display: flex;
    justify-content: center;
    width: 100vw;
}

body {
    background-color: var(--body-background);
    font-family: sans-serif;
    font-size: 14px;
    width: 95%;
    max-width: 1024px;
    min-width: 640px;
    height: 85vh;
    border: 3px dashed black;
}

.table-name {
    text-align: left;
    padding-right: 20px;
}

#account-settings p {
    text-align: center;
    color: red;
}

button {
    margin: 0;
    border: 1px solid #565656;
    background-color: var(--bottom-background);
    width: 8em;
    height: 1.45em;
}

button:hover {
    color: white;
}

input {
    padding-left: 5px;
    border: 1px solid #565656;
}

#top {
    background-color: var(--top-background);
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    border-bottom: 1px solid black;
}

#top a {
    color: inherit;
    text-shadow:
            3px 3px 0 rgba(0, 0, 0, 0.2),
            -1px -1px 0 #000,
            1px -1px 0 rgba(0, 0, 0, 0.65),
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.site_name {
    margin-left: 0.5em;
    font-size: calc(5.8vw);
    text-align: center;
}
@media screen and (min-width: 1024px) {
    .site_name {
        font-size: 60px;
    }
}

@media screen and (max-width: 640px) {
    .site_name {
        font-size: 37px;
    }
}

#bottom {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    height: calc(100% - 100px);
    overflow: auto;
    background-color: var(--bottom-background);
}

#bottom-side div {
    margin-bottom: 5px;
}

#navigation {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5em;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed black;
}

a, ul {
    padding: 0;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

#bottom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
}

.info-message {
    color: blue;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.text-white {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.search input {
    width: 100%;
    margin-bottom: 5px;
}

.search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
}

.search :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

.search ::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
}

th, td {
    text-align: center;
}

#item-description {
    text-align: justify;
    padding-right: 10px;
}

.navigation-button {
    margin-bottom: 10px;
    width: 100%;
}

#username {
    color: black;
    margin-bottom: 5px;
    padding-left: 5px;
}