<div id="admin-controls-item">
    Administrator controls:
    <form action="{% url 'auctionBan' auction.id %}" method="POST" onsubmit="return confirm('Are you sure you want to ban this auction?');">
        {% csrf_token %}
        <button type="submit" name="action" value="Ban">Ban</button>
    </form>
    <form action="{% url 'auctionBan' auction.id %}" method="POST" onsubmit="return confirm('Are you sure you want to unban this auction?');">
        {% csrf_token %}
        <button type="submit" name="action" value="Unban">Unban</button>
    </form>
</div>
