{% load static %}
<link rel="stylesheet" href="{% static 'auction_table.css' %}">

<section class="auction-grid">
    <div class="grid-name">Title</div>
    <div class="grid-value">{{ auction.title }}</div>

    <div class="grid-name">Seller</div>
    <div class="grid-value">{{ auction.seller_name }}</div>

    <div class="grid-name">Item description</div>
    <div class="grid-value">{{ auction.description }}</div>

    <div class="grid-name">Starting price</div>
    <div class="grid-value">{{ starting_price }}</div>

    <div class="grid-name">Number of bids</div>
    <div class="grid-value">{{ auction.bid_set.count }}</div>

    <div class="grid-name">Current price</div>
    <div class="grid-value">{{ current_price }}</div>

    <div class="grid-name">Highest bid by</div>
    <div class="grid-value">{{ auction.current_winer_name }}</div>

    <div class="grid-name">Closing time</div>
    <div class="grid-value">
        {% if auction_time_closing %}
            {{ auction_time_closing }}
        {% else %}
            {{ auction.time_closing }}
        {% endif %}
    </div>

    <div class="grid-name">Posted on</div>
    <div class="grid-value">
        {% if auction_time_posted %}
            {{ auction_time_posted }}
        {% else %}
            {{ auction.time_posted }}
        {% endif %}
    </div>
</section>
