{% load static %}

<link rel="stylesheet" href="{% static 'auction_item_grid.css' %}">
<section class="grid">
    <div class="grid-name">Title</div>
    <div class="grid-value">{{ auction.title }}</div>

    <div class="grid-name">Seller</div>
    <div class="grid-value">{{ auction.seller_name }}</div>

    <div class="grid-name">Item description</div>
    <div class="grid-value" id="item-description">{{ auction.description }}</div>

    <div class="grid-name">Starting price</div>
    <div class="grid-value">{{ auction.starting_converted }} {{ request.session.currency }}</div>

    <div class="grid-name">Current price</div>
    <div class="grid-value">{{ auction.current_converted }} {{ request.session.currency }}</div>

    <div class="grid-name">Number of bids</div>
    <div class="grid-value">{{ auction.bid_set.count }}</div>

    <div class="grid-name">Highest bid by user</div>
    <div class="grid-value">{{ auction.current_winner_name }}</div>

    <div class="grid-name">Closing time</div>
    <div class="grid-value">
        {{ auction.time_closing }}
    </div>

    <div class="grid-name">Posted on</div>
    <div class="grid-value">
        {{ auction.time_posted }}
    </div>
</section>
