{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'auction_edit.css' %}">
    <form id="form-edit" action="{% url 'auctionEdit'  %}{{ auction_id }}" method="post">
        {% csrf_token %}
        <div id="edit-title">
            {{ form.title.label_tag }}&nbsp;{{ form.title.value }}
        </div>
        <div id="edit-field">
            {{ form.description.label_tag }}&nbsp;{{ form.description }}
        </div>
    </form>
    <button type="submit" form="form-edit">Save</button>
{% endblock %}