{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% if page_name %}
            {{ page_name }}
        {% else %}
            Awesome auctions!
        {% endif %}
    </title>
</head>

<body>

<div id="top">
    {% include "top.html" %}
</div>

<div id="bottom">
    <div>
        <div id="navigation">
            {% include "navigation.html" %}
        </div>
        {% include 'currency_picker.html' %}
    </div>
    <div id="content">
        {{ global.session.currency }}
        {% if info_message %}
            <p class="info_message">{{ info_message }}</p>
        {% endif %}
        {% if error_message %}
            <p class="error_message">{{ error_message }}</p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>