{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Yet Another Auction Site
    </title>
</head>

<body>

<div id="top">
    <div class="site_name">
        <a href="{% url 'home' %}">Yet Another Auction Site</a>
    </div>
    {% include 'loginbox.html' %}
</div>

<div id="bottom">
    <div id="bottom_side">
        <a href="{% url 'home' %}"><button class="navigation-button">Front page</button></a>
        <a href="{% url 'auctionAdd' %}"><button class="navigation-button">Add new auction</button></a>
        {% include 'searchbox.html' %}
        {% include "admin_controls_nav.html" %}
    </div>
    <div id="bottom_content">
        {% if request.info_message %}
            <p class="info_message">{{ request.info_message }}</p>
        {% endif %}
        {% if request.error_message %}
            <p class="error_message">{{ request.error_message }}</p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>