{% extends 'base.html' %}

{% block content %}
    <div class="error-message">
        {{ question }}
    </div>
    <br>
    <form action="{%  url 'auctionBid' auction.id %}" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    {{ auction.title }}
                </td>
            </tr>
            <tr>
                <td>
                    Seller
                </td>
                <td>
                    {{ auction.seller_name }}
                </td>
            </tr>
            <tr>
                <td>
                    Item description
                </td>
                <td>
                    {{ auction.description }}
                </td>
            </tr>
        </table>
        <br>
        <input type="hidden" name="bid" value="{{ bid }}">
        <button type="submit" name="action" value="confirm">Yes</button>
        <button type="submit" name="action" value="decline">Nope</button>
    </form>
{% endblock %}