<form action="{% url 'changeCurrency' %}" method="POST">
    {% csrf_token %}
    <section class="grid">
        <div class="grid-name">
            View listings in:
        </div>
        <div class="grid-value">
            <select name="currency" id="currency" onchange="this.form.submit()">
                {% for code in request.session.currencies %}
                    <option value="{{ code }}"
                            {% if code == request.session.currency %}
                            selected
                            {% endif %}>{{ code }}</option>
                {% endfor %}
            </select>
        </div>
    </section>
</form>
