{% load static %}
<link rel="stylesheet" href="{% static 'loginbox.css' %}">

<div id="login">
    {% if not user.is_authenticated %}
        <form action="{% url 'login' %}" method="POST" id="login-form">
            {% csrf_token %}
            <div id="login-inputs">
                <input id="username" name="username" type="text" placeholder="Username" />
                <input id="password" name="password" type="password" placeholder="Password"/>
            </div>
        </form>
        <div id="login-buttons">
            <button type="submit" form="login-form">Login</button>
            <a href="{% url 'signup' %}"><button>Register</button></a>
        </div>

    {% else %}
        <div id="username">
            You are logged in as: {{ user }}
        </div>
        <div id="login-buttons">
            <a href="{% url 'accountSettings' %}"><button>Edit account</button></a>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">
                    Log out
                </button>
            </form>
        </div>
    {% endif %}
</div>