{% extends "base.html" %}

{% block content %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <table>
            {% for field in signup_form.visible_fields %}
                <tr>
                    <td class="table-name">{{ field.label_tag }}</td>
                    <td class="table-value">{{ field }}</td>
                </tr>
            {% endfor %}
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" style="width: 8em">
            </td>
        </tr>
        </table>
    </form>
{% endblock %}
