<div class="site_name">
    Yet Another Auction Site
</div>

<div class="login">
<div class="user_settings">
    {% if not user.is_authenticated %}
        <form action="{% url 'login' %}" method="POST" class="login_form">
            {% csrf_token %}
            <input id="username" name="username" type="text" placeholder="Username" />
            <input id="password" name="password" type="password" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>

    {% else %}
        <div>
            Logged in: {{ user }}
        </div>
        <div class="buttons">
            <a href="{% url 'edit_account' %}"><button>Edit account</button></a>
            <form action="{% url 'logout' %}" method="POST" style="padding-left: 10px">
                {% csrf_token %}
                <button type="submit">
                    Log out
                </button>
            </form>
        </div>
    {% endif %}
</div>

    <div class="search">
        <form action="{% url 'search' %}" method="POST" class="search">
            {% csrf_token %}
            <input id="search" name="search" type="text" />
            <button type="submit">Search</button>
        </form>
    </div>

</div>
